body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100vh;
}

.header,
.right-header,
.content-1,
.footer {
    display: flex;
    background-color: #1f2937;
    align-items: center;
}

.header,
.footer {
    justify-content: space-between;
    padding: 20px 15%;
}
.right-header {
    justify-content: space-between;
    gap: 15px;
}

.left-header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

a,
.info-desc,
.image,
.footer {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

.footer {
    justify-content:center;
}

.header {
    padding-bottom: 0px;
}
.content-1,
.content-2,
.content-3 {
    display: flex;
    padding: 50px 15% 50px;
}

.content-1 {
    gap: 50px;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    max-width: 50%;
}

.image {
    display: flex;
    justify-content: center;
    background-color: grey;
    align-self: stretch;
    align-items: center;
    color: #1f2937;
    flex: 1;
    min-height: 400px;
}

button {
    padding: 6px 20px;
    color: #e5e7eb;
    background-color: #3882f6;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

.content-2 {
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    font-weight: bold;
}

.pic-with-info {
    display: flex;
    text-align: center;
    gap: 10px;
}

.pic-with-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pic {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 25px;
}

.content-3 {
    background-color: #e5e7eb;
    flex-direction: column;
    gap: 10px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote-person {
    text-align: end;
    font-weight: bold;
}

.content-4 {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 50px 15% 50px;
    padding: 50px 50px;
    border-radius: 20px;
}

.sign-up-ask {
    color: #e5e7eb;
}

#sign-up-button {
    border: 1px solid #F9FAF8;
}