body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.header,
.right-header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    padding: 20px 75px;
}
.right-header {
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}